<% provide(:class_text, 'club_new') %>
<% provide(:button_text, '登録') %>

<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">新しいマイクラブを登録</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <%= form_with(model: @club, local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :yarn_count_string, required: true, class: "col-2 col-form-label" %>
          <div class="col-5">
            <%= f.select :yarn_count_string,
                         [['W', 'W'], ['U', 'U'], ['I', 'I'], ['PW', 'PW'], ['AW', 'AW'], ['SW', 'SW'], ['LW', 'LW'], ['CP', 'CP'], ['PT', 'PT']],
                         { selected: 'W' },
                         { class: "form-control" }
            %>
          </div>
          <div class="col-5">
            <%= f.select :yarn_count_number,
                         [['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12', 12], ['13', 13]],
                         { include_blank: true, selected: 1 },
                         { class: "form-control" }
            %>
          </div>
          <small class="form-text text-muted">　（例）W1</small>
        </div>
        <div class="form-group">
          <%= f.label :detail, class: "control-label" %>
          <%= f.text_field :detail, class: "form-control", placeholder: '（例）MAVRIK 440ツアーバージョン（9°、グラファイトデザイン Tour AD XC-7TX）' %>
          <small class="form-text text-muted">（例）メーカー名、モデル名、シャフト名、フレックス名</small>
        </div>
        <div class="form-group">
          <%= f.label :loft %>
          <%= f.number_field :loft, class: "form-control", placeholder: '（例）27.55', step: '0.01', min: 0.00, max: 70.00 %>
        </div>
        <div class="form-group">
          <%= f.label :largo %>
          <%= f.number_field :largo, class: "form-control", placeholder: '（例）35.25', required: true, step: '0.01', min: 31.00, max: 48.00 %>
        </div>
        <div class="form-group">
          <%= f.label :weight %>
          <%= f.number_field :weight, class: "form-control", placeholder: '（例）315', required: true, min: 0 %>
        </div>
        <div class="form-group row">
          <%= f.label :balance_string, class: "col-2 col-form-label" %>
          <div class="col-5">
            <%= f.select :balance_string,
                         [['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'], ['E', 'E'], ['F', 'F']],
                         { include_blank: true },
                         { class: "form-control" }
            %>
          </div>
          <div class="col-5">
            <%= f.number_field :balance_number, class: "form-control", placeholder: '0.0', step: '0.1', min: 0.0, max: 9.9 %>
          </div>
          <small class="form-text text-muted">　（例）D1</small>
        </div>
        <div class="form-group">
          <%= f.label :frequency %>
          <%= f.text_field :frequency, class: "form-control", placeholder: '（例）250' %>
          <small class="form-text text-muted">半角数字３桁でご入力ください。</small>
        </div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class="d-flex justify-content-center">
          <%= f.submit yield(:button_text), class: "btn btn-brand btn-#{yield(:class_text)} mr-2" %>
          <button type="button" class="btn btn-outline-brand btn-<%= yield(:class_text) %>" data-dismiss="modal">
            キャンセル
          </button>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
