<% provide(:class_text, 'club_new') %>
<% provide(:button_text, '登録') %>

<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">新しいゴルフクラブを登録</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <%= form_with(model: @club, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :yarn_count_string, '番手', class: "control-label" %>
          <%= f.text_field :yarn_count_string, placeholder: '（例）W'  %>
          <%= f.number_field :yarn_count_number, placeholder: '1', min: 0, max: 13 %>
        </div>
        <div class="form-group">
          <%= f.label :detail, class: "control-label" %>
          <%= f.text_field :detail, class: "form-control", placeholder: '（例）MAVRIK 440ツアーバージョン（9°、グラファイトデザイン Tour AD XC-7TX）' %>
          <small class="form-text text-muted">（例）メーカー名、モデル名、シャフト名、フレックス名</small>
        </div>
        <div class="form-group">
          <%= f.label :loft %>
          <%= f.number_field :loft, class: "form-control", placeholder: '（例）27.55', step: '0.01', min: 0.00, max: 70.00 %>
        </div>
        <div class="form-group">
          <%= f.label :largo %>
          <%= f.number_field :largo, class: "form-control", placeholder: '（例）35.25', step: '0.01', min: 31.00, max: 48.00 %>
        </div>
        <div class="form-group">
          <%= f.label :weight %>
          <%= f.number_field :weight, class: "form-control", placeholder: '（例）315', min: 0 %>
        </div>
        <div class="form-group">
          <%= f.label :balance_string, 'バランス', class: "control-label" %>
          <%= f.text_field :balance_string, placeholder: '（例）D' %>
          <%= f.number_field :balance_number, placeholder: '0.0', step: '0.1', min: 0.0, max: 9.9 %>
        </div>
        <div class="form-group">
          <%= f.label :frequency %>
          <%= f.text_field :frequency, class: "form-control", placeholder: '（例）250' %>
        </div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class="d-flex justify-content-center">
          <%= f.submit yield(:button_text), class: "btn btn-brand btn-#{yield(:class_text)} mr-2" %>
          <button type="button" class="btn btn-outline-brand btn-<%= yield(:class_text) %>" data-dismiss="modal">
            キャンセル
          </button>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
