<div class="container">

  <%= render 'layouts/flash_messages' %>
  <h1>ChartSample</h1>
  <div class="row">
    <div class="col-6">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">番手</th>
              <th scope="col">ロフト</th>
              <th scope="col">長さ</th>
              <th scope="col">重量</th>
              <th scope="col">バランス</th>
            </tr>
          </thead>
          <tbody>
            <% @clubs.each do |club| %>
              <tr>
                <td><%= club.yarn_count_string %><%=club.yarn_count_number %></td>
                <td><%= club.loft %></td>
                <td><%= club.largo %></td>
                <td><%= club.weight %></td>
                <td><%= club.balance_string %><%= club.balance_number %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-6">
<canvas id="myChart" width="900" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'scatter',
  data: {
    datasets: [{
      label: 'ゴルフクラブの重さと長さの推移',
      data: [
        { x: 45.75, y: 316 },
        { x: 41.00, y: 348 },
        { x: 40.50, y: 415 },
        { x: 37.75, y: 428 },
        { x: 37.25, y: 435 },
        { x: 36.25, y: 449 },
        { x: 35.75, y: 456 }
      ],
      fill: false,
      showLine: true
    }]
  },
    options:{
      scales:{
        xAxes:[{
          ticks:{
            min:31, // グラフの最小値
            max:48, // グラフの最大値
            stepSize:1, // グラフの刻み
            reverse: true 
          }
        }],
       yAxes:[{
          ticks:{
            min:200, // グラフの最小値
            max:500, // グラフの最大値
            stepSize:50 // グラフの刻み
          }
        }]
      },
      elements:{
        line:{
          tension: 0 // 線グラフのベジェ曲線を無効にする
        }
      }
    }
});
</script>

  </div>
</div>