<div class="container-fuild">
  <%= render 'layouts/flash_messages' %>

  <div class="text-right padding-15">
    <%= link_to "登録", new_club_path(current_user), remote: true, class: "btn btn-outline-brand my-3" %>
    <%= link_to "マイクラブ", clubs_path(current_user), class: "btn btn-brand my-3 disabled" %>
    <%= link_to "セッティング", clubs_select_user_path(current_user), class: "btn btn-outline-brand my-3" %>
    <%= link_to "グラフ", clubs_chart_user_path(current_user), data: {"turbolinks" => false}, class: "btn btn-outline-brand my-3" %>
  </div>

  <h2 class="py-5">マイクラブ一覧</h2>

  <% row_num = 1 %>
  <div class="padding-15">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">番手</th>
          <th scope="col" class="text-center">名称</th>
          <th scope="col">ロフト</th>
          <th scope="col">長さ</th>
          <th scope="col">重量</th>
          <th scope="col">バランス</th>
          <th scope="col">振動数</th>
          <th scope="col">削除</th>
        </tr>
      </thead>
      <tbody>
        <% @clubs.each do |club| %>
          <% if club.delete_flg.present? %>
            <tr class="bg-delete">
          <% else %>
            <tr>
          <% end %>
            <th scope="row"><%= row_num %></th>
            <% row_num = row_num + 1 %>
            <td><%= club.yarn_count_string %><%=club.yarn_count_number %></td>
            <td><%= club.detail %></td>
            <td><%= club.loft %></td>
            <td><%= club.largo %></td>
            <td><%= club.weight %></td>
            <td><%= club.balance_string %><%= club.balance_number %></td>
            <td><%= club.frequency %></td>
            <td>
              <% if club.delete_flg %>
                <%= link_to '戻す', clubs_logical_deletion_user_path(club, params: { club: { id: club.id, delete_flg: club.delete_flg } }),
                                  :method => :post,
                                  class: "btn btn-outline-brand"
                %>
              <% else %>
                <%= link_to '削除', clubs_logical_deletion_user_path(club, params: { club: { id: club.id, delete_flg: club.delete_flg } }),
                                  :method => :post,
                                  class: "btn btn-outline-brand",
                      data: { confirm: "「番手：#{club.yarn_count_string}#{club.yarn_count_number}」　「名称：#{club.detail}」 を削除してよろしいですか？",
                              cancel: 'キャンセル',
                              commit: '削除する'
                            }
                %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
</div>
<!--モーダルウインドウ表示-->
<div id="new_club_path" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>