<div class="container">
  <%= render 'layouts/flash_messages' %>
  <p class="mb-3">ゴルフクラブ ドラッグ機能実装中・・・</p>
  <hr>

<%# ここからドロップアンドドラッグのサンプル %>

<!-- SelectedUser一覧をリスト表示 -->
<h2>ゴルフバッグの中に入れて持っていくゴルフクラブ</h2>
  <%= link_to "新しいゴルフクラブを登録する", new_club_path(current_user), remote: true, class: "btn btn-outline-brand my-5" %>
  <%= link_to "ゴルフバックの中身をグラフで見る", clubs_chart_user_path(current_user), class: "btn btn-brand my-5" %>

<table border="1" width="300">
  <tr>
    <th>SelectedClubのid</th>
    <th>SelectedClubの名称</th>
  </tr>
  <!-- Array(@selected_clubs)は（）の中身を配列にする -->
  <% Array(@selected_clubs).each do |selected_club| %>
      <tr>
        <td><%= selected_club.club_id %></td>
        <td><%= Club.find(selected_club.club_id).detail %></td>
      </tr>
  <% end %>
  <tr>
    <!-- ドロップエリア -->
    <td colspan="3" id="dropzone" class="dropzone"></td>
  </tr>
</table>

<br>

<!-- Club一覧をリスト表示 -->
<h2>所持ゴルフクラブ一覧</h2>

<table id="list" border="1" width="300" class="mb-5">
  <tr>
    <th>club.id</th>
    <th>club.detail</th>
  </tr>
  <% Array(@clubs).each do |club| %>
  
      <!-- rowにドラッグ可能(draggable)属性を指定 -->
      <tr class="item" draggable="true" id="<%= club.id %>">
        <td><%= club.id %></td>
        <td><%= club.detail %></td>
      </tr>
  <% end %>
</table>
<script>

    $(function () {

        // dropzoneの表示テキストを初期化 「ここにドロップできます。」
        initDropzone();

        // idが #listテーブルの.itemクラスが付いている行が操作された時のイベントリスナーを設定
        items = document.getElementById('list').getElementsByClassName('item');
        // forEach でArrayの要素各々に対し（）内を実行？いや定義？する。call(item, コールバック関数)で定義するとthisの値として使えるみたいだ
        Array.prototype.forEach.call(items, function (item) {
            // $(対象).on(イベント, 自作関数);
            $(item).on('dragstart', onDragStart);
            $(item).on('dragend', onDragEnd);
        });

        // dropzoneのリスナーを設定
        var $dropzone = $('#dropzone')
            .on('dragover', onDragOver)
            .on('dragenter', onDragEnter)
            .on('dragleave', onDragLeave)
            .on('drop', onDrop);


        // dropzoneの表示テキストを指定
        function initDropzone() {
            $('#dropzone').text("ここにドロップできます。");
        }

        function startDropzone() {
            $('#dropzone').text("ドラッグ中。");
        }

        function endDropzone(name) {
            $('#dropzone').text(name + "をドロップしました。");
        }

        // ドロップ時の処理
        // (1) ドロップされた行のidをPOSTする
        // (2) 成功したらリダイレクトする
        // (3) 失敗したらダイアログを表示する
        function doAction(id) {
            $.ajax({
                url: "<%=  clubs_add_user_path  %>",
                type: "POST",
                data: {
                    id: id
                },
                dataType: "html",
                success: function (data) {
                    alert("success");

                    // dataにドラッグ＆ドロップした
                    // Userのid, nameがjson形式で
                    // 渡される
                    console.log(data);
                    // {"id":1,"name":"Yamada Taro"}

                    // 暫定的にページを再読込
                    // location.href = "<%= clubs_path %>"
                },
                error: function (data) {
                    alert("errror");
                }
            });
        }

        // ドラッグ＆ドロップ操作
        function onDragStart(e) {
            // Touchイベントに限らずjQueryを通してのイベントオブジェクトの取得はすべてoriginalEventで取得できます。
            // targetとはドラッグされている要素を指す
            var id = e.originalEvent.target.id;
            var name = e.originalEvent.target.cells[1].innerHTML;
            // ドラッグ操作の data に指定したデータと型を設定
            e.originalEvent.dataTransfer.setData('id', id);
            e.originalEvent.dataTransfer.setData('name', name);
            addDraggingEffect();
            startDropzone();
        }

        function onDragEnter(e) {
            addEnterEffect();
        }

        function onDragLeave(e) {
            removeEnterEffect();
        }

        function onDragOver(e) {
            e.preventDefault();
        }

        function onDragEnd(e) {
            resetAllEffect();
        }

        function onDrop(e) {
            e.preventDefault();
            var id = e.originalEvent.dataTransfer.getData('id');
            var name = e.originalEvent.dataTransfer.getData('name');
            endDropzone(name);
            doAction(id);
        }

        function addDraggingEffect() {
            $dropzone.addClass('dragging');
        }

        function removeDraggingEffect() {
            $dropzone.removeClass('dragging');
            initDropzone();
        }

        function addEnterEffect() {
            $dropzone.addClass('dragenter');
        }

        function removeEnterEffect() {
            $dropzone.removeClass('dragenter');
        }

        function resetAllEffect(e) {
            removeDraggingEffect();
            removeEnterEffect();
        }

    });

</script>


<style>

  .dropzone p {
    margin: 0;
    padding: 0;
    background-color: #0000E9;
  }

  .dropzone.small {
    height: 40px;
  }

  .dropzone {
    border: 1px solid #555;
    margin-top: 5px;
    /*width: 246px;*/
    min-height: 100px;
    font-size: 12px;

    text-align: center;
    line-height: 100px;

    color: gray;
    background-color: ghostwhite;
    border-color: gray;
  }

  .dragging {
    color: rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 255, .1);
    border-color: rgba(0, 0, 255, .3);
  }

  .dragging:after {
  }

  .dragenter {
    border-color: rgba(255, 0, 0, .3);
    background-color: rgba(255, 0, 0, .1);
  }

</style>


<%# ここまでドロップアンドドラッグのサンプル %>




<%# あとでここに本当のselected_clubを表示したい %>
  <h2>ゴルフバッグの中に入れて持っていくゴルフクラブ</h2>

  <% row_num = 1 %>
  <div class="table-responsive mb-5">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">所持数</th>
          <th scope="col">番手</th>
          <th scope="col" class="text-center">名称</th>
          <th scope="col">ロフト</th>
          <th scope="col">長さ</th>
          <th scope="col">重量</th>
          <th scope="col">バランス</th>
          <th scope="col">振動数</th>
        </tr>
      </thead>
      <tbody>
        <% @selected_clubs.each do |selected_club| %>
          <tr>
            <th scope="row"><%= row_num %></th>
            <% row_num = row_num + 1 %>
            <td><%= selected_club.id %><%=selected_club.club_id %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>




  <h2>所持ゴルフクラブ一覧</h2>

  <% row_num = 1 %>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">所持数</th>
          <th scope="col">番手</th>
          <th scope="col" class="text-center">名称</th>
          <th scope="col">ロフト</th>
          <th scope="col">長さ</th>
          <th scope="col">重量</th>
          <th scope="col">バランス</th>
          <th scope="col">振動数</th>
          <th scope="col">削除</th>
        </tr>
      </thead>
      <tbody>
        <% @clubs.each do |club| %>
          <tr>
            <th scope="row"><%= row_num %></th>
            <% row_num = row_num + 1 %>
            <td><%= club.yarn_count_string %><%=club.yarn_count_number %></td>
            <td><%= club.detail %></td>
            <td><%= club.loft %></td>
            <td><%= club.largo %></td>
            <td><%= club.weight %></td>
            <td><%= club.balance_string %><%= club.balance_number %></td>
            <td><%= club.frequency %></td>
            <td>
              <%= link_to '削除', club_path(club),
                                 :method => :delete,
                                 class: "btn btn-outline-brand",
                    data: { confirm: "「番手：#{club.yarn_count_string}#{club.yarn_count_number}」　「名称：#{club.detail}」 を削除してよろしいですか？",
                            cancel: 'キャンセル',
                            commit: '削除する'
                          }
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<!--モーダルウインドウ表示-->
<div id="new_club_path" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>