<div class="container-fluid">
  <%= render 'layouts/flash_messages' %>

  <!-- SelectedUser一覧をリスト表示 -->
  <div class="text-right ">
    <%= link_to "マイクラブ", clubs_path(current_user), class: "btn btn-outline-brand my-3" %>
    <%= link_to "セッティング", clubs_select_user_path(current_user), class: "btn btn-brand my-3 disabled" %>
    <%= link_to "グラフ", clubs_chart_user_path(current_user), data: {"turbolinks" => false}, class: "btn btn-outline-brand my-3" %>
  </div>

  <div class="row">
    <div class="col-5">
      <!-- Club一覧をリスト表示 -->
      <h2 class="float-left">マイクラブ一覧</h2>

      <% row_num_club = 1 %>
      <div class="table-responsive">
        <table id="list" class=" table table-sm table-bordered mb-5">
          <thead class="bg-brand text-white">
            <tr>
              <th>No.</th>
              <th>番手</th>
              <th>詳細</th>
              <th>　　</th>
            </tr>
          </thead>
          <% Array(@clubs).each do |club| %>
            <% if club.delete_flg %>
              <tr class="item bg-delete" id="<%= club.id %>">
            <% else %>
              <tr class="item" id="<%= club.id %>">
            <% end %>
              <th><%= row_num_club %></th>
              <% row_num_club = row_num_club + 1 %>            
              <td><%= club.yarn_count_string %><%=club.yarn_count_number %></td>
              <td><%= club.detail %></td>
            <% if club.selected %>
              <td><button class="btn btn-brand disabled">選択中</button></td>
            <% else %>
              <td><%= link_to '選択', clubs_add_buttom_user_path(club.id), :method => :post, class: "btn btn-outline-brand item-buttom" %></td>  
            <% end %>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-2">
      <div><%= image_tag 'arrow.png', :class=>"img-fluid arrow-padding", :alt => '右矢印の画像' %></div>
    </div>
    <div class="col-5">
      <h2 class="float-left">クラブセッティング</h2>
      <% row_num_selected = 1 %>
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <thead class="bg-brand text-white">
            <tr>
              <th>No.</th>
              <th>番手</th>
              <th>名称</th>
              <th>　</th>
            </tr>
          </thead>
          <!-- Array(@selected_clubs)は（）の中身を配列にする -->
          <% Array(@selected_clubs).each do |selected_club| %>
            <tr>
              <th><%= row_num_selected %></th>
              <% row_num_selected = row_num_selected + 1 %>
              <td><%= selected_club.yarn_count_string %><%=selected_club.yarn_count_number %></td>
              <td><%= selected_club.detail %></td>
              <td>
                <%= link_to '外す', clubs_take_user_path(selected_club), :method => :post, class: "btn btn-outline-brand" %>
              </td>
            </tr>
          <% end %>
          <tr>
        </table>
      </div>
    </div>
  </div>
</div>
