<%= form_with model: @golfclub, local: true do |golfclub| %>
  <div class="form-group">
    <%= golfclub.label :name %>
    <%= golfclub.text_field :name, placeholder: "20文字以内", required: true, maxlength: "20", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= golfclub.label :area_id, '地域' %>
    <%= golfclub.select :area_id, Area.all.order(:id).map { |area| [area.prefecture, area.id] }, {}, { required: true, class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= golfclub.label :home_page_url %>
    <%= golfclub.text_field :home_page_url, pattern: "^https?://[a-zA-Z0-9/:%#&~=_!'\\$\\?\\(\\)\\.\\+\\*\\-]+$",
                                            placeholder: "例) https://golf.sample.co.jp/",
                                            class: "form-control" %>
  </div>

  <div class="form-group">
    <%= golfclub.label :strategy_video %>
    <%= golfclub.text_field :strategy_video, pattern: "^(https?\:\/\/)?(www\.)?(youtu\.?be)\/((.|-){11})(?:\S+)?$",
                                             placeholder: "例) https://youtu.be/Abc123eFg45",
                                             class: "form-control" %>
  </div>

  <% if controller.action_name == "new" %>
    <div class="form-group">
      <%= golfclub.fields_for :courses do |course| %>
        <%= course.label :name %>
        <%= render "course_fields", f: course %>
        <div class="links">
          <%= link_to_add_association "+ コース追加", golfclub, :courses, class: "link_to_add_association" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= golfclub.submit submit_name, class: "btn btn-primary", data: { disable_with: '送信中' }, class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<script>
$(document).on('turbolinks:load', function() {
　if ($('.nested-fields').length == 1) {
　$('#remove-btn').hide();
　}
});
</script>