<div class="container-hole">
  <h5><%= @course.name %>コース一覧</h5>
  <% @course.holes.each do |hole| %>
    <div class="card border-0">
      <table class="table table-bordered card-columns">
        <thead>
          <tr>
            <th colspan="3" class="card-header">
              ホール<%= hole.hole_number %>&emsp;/&emsp;パー<%= hole.number_of_pars %>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <div style="min-height: 100px; min-width: 50px">
                <% if hole.map_r.attached? %>
                  <%= image_tag hole.map_r.variant(resize:'75') %>
                <% else %>
                  <%= image_tag '/noimage.png', width: '75', height: 'auto' %>
                <% end %>
              </div>
            </td>
            <td>
              <div style="min-height: 100px; min-width: 50px">
                <% if hole.map_b.attached? %>
                  <%= image_tag hole.map_b.variant(resize:'75') %>
                <% else %>
                  <%= image_tag '/noimage.png', width: '75', height: 'auto' %>
                <% end %>
              </div>
            </td>
            <td>
              <div style="min-height: 100px; min-width: 50px">
                <% if hole.map_l.attached? %>
                  <%= image_tag hole.map_l.variant(resize:'75') %>
                  <%# <= image_tag rails_representation_path hole.map_l.variant(resize:'300x300') > %>
                <% else %>
                  <%= image_tag '/noimage.png', width: '75', height: 'auto', style: "object-fit: cover;" %>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
