<%= render 'layouts/flash_messages' %>
<div class="container-hole">
  <h1>ホール登録</h1>
  <div class="form-group-hole col col-md-3">
    <%= Hole.human_attribute_name :hole_number %>
  </div>

  <div class="form-group-hole col col-md-8 px-0">
    <%= Hole.human_attribute_name :number_of_pars %>
  </div>

  <%= form_with model: @hole, url: golfclub_course_holes_path, local: true do |hole| %>
  <% 9.times do |o| %>
    <%= hole.fields_for :holes do |h| %>
      <div class="form-group-hole col col-md-3">
        <%= hole.number_field :hole_number, class: "form-control" %>
      </div>

      <div class="form-group-hole col-md-8 form-control">
        <% @pars.each do |par| %>
          <%# &emsp; %>
          <%= hole.label :pars, par %>
          <%= h.radio_button :number_of_pars, par, value: "ball_blue.jpeg" %>
          <%# <label for=<%= "form_hole_collection_holes_attributes_#{h.index}_number_of_pars_#{par}" %>
            <%# <img src="/ball_blue.jpeg" with="20" height="20"> %>
          <%# </label> %>
        <% end %>
      </div>
    <% end %>
  <% end %>

    <div class="form-group">
      <%= hole.submit submit_name, class: "btn btn-primary", data: { disable_with: '送信中' }, class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
<div>

<style>
input[type="radio"] {
  display: none;
}

input[type="radio"] + label img {
  opacity:0.2;
}
input[type="radio"]:checked + label img {
  opacity:1;
}
</style>