<div id="container" class="container" data-turbolinks='false'>

  <%# 攻略ホールボタン %>
  <div class="strategy_cource_bar row">

    <div id="<%= @golfclub.id %>" class="strategy_holebar_club_name">
      <h5><%= @golfclub.name %></h5>
    </div>

    <div class="strategy_course_btns">
      <% @courses.each_with_index do |course, i| %>
        <%= link_to "#{course.name}", 
          hole_golfclub_strategy_infos_path(course_id: course.id),
          remote: :true, class: "btn strategy_course_btn c_selected" if i == 0%>
        <%= link_to "#{course.name}", 
          hole_golfclub_strategy_infos_path(course_id: course.id),
          remote: :true, class: "btn strategy_course_btn" if i != 0%>
        <%# (course_id: course.id) %>
      <% end %>
    </div>

  </div>
  <div id="strategy_hole">
    <%= render 'strategy_infos/index_render_files/hole' %>
  </div>
</div>

<script>
  $('.strategy_course_btn').on('click', function () {
    $('.strategy_course_btn').removeClass('c_selected');
    $(this).addClass('c_selected');
  });
</script>