<div id="container" class="container" data-turbolinks='false'>

  <%# 攻略ホールボタン %>
  <div class="strategy_cource_bar row">
    <div id="<%= @golfclub.id %>" class="strategy_holebar_club_name">
      <h4 class="strategy_golfclub_name"><%= @golfclub.name %></h4>
    </div>

    <div class="strategy_course_btns">
      <% @courses.each_with_index do |course, i| %>
        <%= link_to "#{course.name}", 
          hole_golfclub_strategy_infos_path(course_id: course.id),
          remote: :true, class: "btn btn-sm strategy_course_btn c_selected" if i == 0 %>
        <%= link_to "#{course.name}", 
          hole_golfclub_strategy_infos_path(course_id: course.id),
          remote: :true, class: "btn btn-sm strategy_course_btn" if i != 0 %>
        <%# (course_id: course.id) %>
      <% end %>
    </div>
  </div>

  <div id="strategy_hole">
    <%= render 'strategy_infos/index_render_files/hole' %>
  </div>

</div>
<div id="new_edit_btns">
  <%= render "strategy_infos/index_render_files/new_edit_btns" %>
</div>


<script>
  $('.strategy_course_btn').on('click', function () {
    $('.strategy_course_btn').removeClass('c_selected');
    $(this).addClass('c_selected');
  });

  if ('<%= @strategy_info.photo_target_x.present? %>') {
    document.getElementById("photo_pin_target").style.left = (Number('<%= @strategy_info.photo_target_x %>') / Number('<%= @strategy_info.photo_size_x %>'))*100 + "%";
    document.getElementById("photo_pin_target").style.top = (Number('<%= @strategy_info.photo_target_y %>') / Number('<%= @strategy_info.photo_size_y %>'))*100 + "%";
  };
  if ('<%= @strategy_info.photo_point_x.present? %>') {
    document.getElementById("photo_pin_point").style.left = (Number('<%= @strategy_info.photo_point_x %>') / Number('<%= @strategy_info.photo_size_x %>'))*100 + "%";
    document.getElementById("photo_pin_point").style.top = (Number('<%= @strategy_info.photo_point_y %>') / Number('<%= @strategy_info.photo_size_y %>'))*100 + "%";
  };
  if ('<%= @strategy_info.map_target_x.present? %>') {
    document.getElementById("map_pin_target").style.left = (Number('<%= @strategy_info.map_target_x %>') / Number('<%= @strategy_info.map_size_x %>'))*100 + "%";
    document.getElementById("map_pin_target").style.top = (Number('<%= @strategy_info.map_target_y %>') / Number('<%= @strategy_info.map_size_y %>'))*100 + "%";
  };
  if ('<%= @strategy_info.map_point_x.present? %>') {
    document.getElementById("map_pin_point").style.left = (Number('<%= @strategy_info.map_point_x %>') / Number('<%= @strategy_info.map_size_x %>'))*100 + "%";
    document.getElementById("map_pin_point").style.top = (Number('<%= @strategy_info.map_point_y %>') / Number('<%= @strategy_info.map_size_y %>'))*100 + "%";
  };
  if ('<%= @strategy_info.map_shoot_x.present? %>') {
    document.getElementById("map_pin_shoot").style.left = (Number('<%= @strategy_info.map_shoot_x %>') / Number('<%= @strategy_info.map_size_x %>'))*100 + "%";
    document.getElementById("map_pin_shoot").style.top = (Number('<%= @strategy_info.map_shoot_y %>') / Number('<%= @strategy_info.photo_size_y %>'))*100 + "%";
  };
</script>
<%= javascript_include_tag "strategy_infos/pin_resize" %>