<div id="flash_messages">
  <%= render 'layouts/flash_messages' %>
</div>

<div id="container" class="container">
  <div id="golfclub__name_area">
    <%= @golfclub.name %><br>
    <%= @area.prefecture %>
  </div>
  <%# newかeditかでrennder分け %>
  <div id="registration_edit_renders">
    <% if @new_or_edit && @strategy_info_admin.present? %>
      <%= render "strategy_infos/registration_edit_render_files/new" %>
    <% elsif @new_or_edit %>
      <%= render "strategy_infos/registration_edit_render_files/brand_new" %>
    <% else %>
      <%= render "strategy_infos/registration_edit_render_files/edit" %>
    <% end %>
  </div>
</div>

<div class="to_index">
  <%= link_to ">攻略ページ", golfclub_strategy_infos_path, class: "to_index_link", data: {"turbolinks" => false} %>
</div>

<%= javascript_include_tag "strategy_infos/select_ajax" %>
<%= javascript_include_tag "strategy_infos/preview" %>
<%= javascript_include_tag "strategy_infos/strategy_form" %>
<%= javascript_include_tag "strategy_infos/resize" %>
<%= javascript_include_tag "strategy_infos/pin_resize" %>
