<% if flash.blank? %>

  <% if @new_or_edit && @strategy_info_admin.present? %>
  <%# < % byebug % > %>
    <%# "ユーザーのデータなし(new)、かつ管理者のデータあり" %>
    $("#registration_edit_renders").html("<%= j(render 'strategy_infos/registration_edit_render_files/new') %>");
  <% elsif @new_or_edit && current_user.admin? %>
    <%# "ユーザーのデータなし(new)" %>
    $("#registration_edit_renders").html("<%= j(render 'strategy_infos/registration_edit_render_files/brand_new') %>");
  <% else %>
    <%# "ユーザーのデータあり(edit)" %>
    $("#registration_edit_renders").html("<%= j(render 'strategy_infos/registration_edit_render_files/edit') %>");
  <% end %>

<% end %>
  <% flash.each do |msg_type, msg| %>
    $('#flash_messages').html('<a href="#" class="close" data-dismiss="alert">×</a><%= msg %>');
    $('#flash_messages').addClass('alert alert-<%= msg_type %>');
    $('#flash_messages').show();
  <% end %>
