<div class="row">
  <div class="col-md-10 offset-md-1">
    <h5>会員一覧</h5>

    <%= search_form_for @q do |f| %>
      <div class="user-search-flexbox">
        <div class="user-search-premium">
          <div class="user-search-flexbox-item">
            <%= f.select :premium_eq, options_for_select([['プレミアム条件', ''],['プレミアム会員', true], ['通常会員', false],]), {}, { class: "form-control form-control-sm" } %>
          </div>
        </div>

        <div class="user-search-name">
          <div class="user-search-flexbox-item">
            <%= f.search_field :membership_number_cont, placeholder: "メンバーID", class: "form-control form-control-sm" %>
          </div>

          <div class="user-search-flexbox-item">
            <%= f.search_field :name_cont, placeholder: "名前", class: "form-control form-control-sm" %>
          </div>

          <div class="user-search-flexbox-item">
            <%= f.search_field :nickname_cont, placeholder: "ニックネーム", class: "form-control form-control-sm" %>
          </div>
        </div>

        <div class="user-search-address">
          <div class="user-search-flexbox-item">
            <%= f.search_field :email_cont, placeholder: "メールアドレス", class: "form-control form-control-sm" %>
          </div>

          <div class="user-search-flexbox-item">
            <%= f.search_field :phone_number_cont, placeholder: "電話番号", class: "form-control form-control-sm" %>
          </div>
        </div>

        <div class="user-search-created">
          <div class="user-search-flexbox-item">
            <label class="col-form-label">作成日</label>
          </div>

          <div class="user-search-flexbox-item">
            <%= f.date_field :created_at_gteq, placeholder: "作成日", class: "form-control form-control-sm" %>
          </div>
          〜
          <div class="user-search-flexbox-item">
            <%= f.date_field :created_at_lteq_end_of_day, placeholder: "作成日", class: "form-control form-control-sm" %>
          </div>

          <div class="product-search-flexbox-item">
            <%= button_tag type: 'submit', class: "btn btn-brand btn-sm" do %>
              <i class="fas fa-search"></i>
            <% end %>
            <%= link_to 'リセット', users_path, class: "btn btn-sm btn-secondary" if params[:q].present? %>
          </div>
        </div>
      </div>
    <% end %>

    <table class="table table-bordered table-sm">
      <thead class="bg-brand text-center" style="color: #fff;">
        <tr class="user-table-header">
          <th><%= sort_link @q, :id, 'ID' %></th>
          <th><%= sort_link @q, :membership_number %></th>
          <th><%= sort_link @q, :premium %></th>
          <th><%= sort_link @q, :name %></th>
          <th><%= sort_link @q, :nickname %></th>
          <th><%= sort_link @q, :flying_distance %></th>
          <th><%= sort_link @q, :email %></th>
          <th><%= sort_link @q, :phone_number %></th>
          <th><%= sort_link @q, :created_at %></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="text-center"><%= user.id %></td>
            <td><%= user.membership_number %></td>
            <td class="text-center"><%= premium_check(user) %></td>
            <td><%= user.name %></td>
            <td><%= user.nickname %></td>
            <td><%= user.flying_distance %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate(@users) %>
  </div>
</div>
