<div class="row">
  <div class="col-md-8 offset-md-2">
    <h5>会員一覧</h5>

    <table class="table table-bordered table-sm">
      <thead class="bg-brand text-center" style="color: #fff;">
        <tr>
          <th>ID</th>
          <th><%= User.human_attribute_name :membership_number %></th>
          <th><%= User.human_attribute_name :premium %></th>
          <th><%= User.human_attribute_name :name %></th>
          <th><%= User.human_attribute_name :nickname %></th>
          <th><%= User.human_attribute_name :flying_distance %></th>
          <th><%= User.human_attribute_name :email %></th>
          <th><%= User.human_attribute_name :phone_number %></th>
          <th><%= User.human_attribute_name :created_at %></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="text-center"><%= user.id %></td>
            <td><%= user.membership_number %></td>
            <td class="text-center"><%= premium_check(user) %></td>
            <td><%= user.name %></td>
            <td><%= user.nickname %></td>
            <td><%= user.flying_distance %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate(@users) %>
  </div>
</div>