
<div class="strategy_main">

  <%# ホールボタンでのみ切り替わる  col-md-1%>
  <div class="strategy_main_status">
      Hole<%= @hole.hole_number %><br>
      Par<%= @hole.number_of_pars %>
  </div>
<%#  col-md-9 %>
  <div class="strategy_main_center">
    <div id="show">
      <%= render 'strategy_infos/index_render_files/show' %>
    </div>
    <%# アコーディオン未設定 , selected: @location_name%>
    <div class="shot_bar">
      <% @strategy_shots.each_with_index do |shots, n| %>
        <div id="<%= shots[0] %>_btns" class="shot_btns">
          <% shots[1].each.with_index(1) do |strategy, i| %>
            <%= link_to "#{shots[0]}", golfclub_strategy_info_path(id: strategy[:id]),
                remote: :true, class: "btn btn-sm shot_btn s_selected" if n == 0 && i == 1 %>
            <%= link_to "#{shots[0]}", golfclub_strategy_info_path(id: strategy[:id]),
                remote: :true, class: "btn btn-sm shot_btn" if n != 0 || i != 1 %>
          <% end %>
        </div>
      <% end %>
    </div><br>
    <% if @strategy_info.present? && (@strategy_info.user_id == current_user.id || current_user.admin?) %>
<%= link_to '削除', golfclub_strategy_info_path(id: @strategy_info.id), class: "btn btn-danger", method: :delete, remote: true,
                  data: { confirm: "削除してよろしいですか？",
                          cancel: 'キャンセル',
                          commit: '削除する'
                        }, title: '削除確認'
              %>
    <% end %>
  </div>
  <%# 表示切り替え(.show();,.hide(); col-md-2%>
  <div id="main_map">
    <%= render 'strategy_infos/index_render_files/main_map' %>
  </div>

</div>

