<%= render 'layouts/flash_messages' %>

<div class="container-area-index">
  <h5>エリア一覧</h5>

  <div class="btn-form text-right">
    <%= submit_tag '更新', form: "area-form", class: "btn btn-sm btn-primary" %>
    <%= link_to '戻る', areas_path, class: "btn btn-sm btn-secondary" %>
  </div>

  <%= form_with model: @areas, url: update_areas_path, id: "area-form", local:true, method: :patch do |f| %>
    <%# <div class="float-left"> %>
    <table class="table table-sm table-bordered">
      <thead>
        <tr class="bg-brand" style="color: white;">
          <th>ID</th>
          <th>都道府県</th>
          <th>地区</th>
        </tr>
      </thead>
      <tbody>
        <% @areas.each do |area| %>
          <%= fields_for "areas[]", area do |area_fields| %>
            <tr>
              <td><%= area.id %></td>
              <td><%= area.prefecture %></td>
              <td><%= area_fields.text_field :district, required: true, maxlength: "30", class: "form-control" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%# </div> %>
  <% end %>

</div>
