<div>
  <%= link_to '編集画面へ', edit_areas_path, class: "btn btn-primary" %>
</div>

<div class="float-left">
  <% @areas.each do |district, areas| %>
    <h3><%= district %></h3>
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>都道府県</th>
          <th>地区</th>
        </tr>
      </thead>
      
      <% areas.each do |area| %>
        <tbody>
          <tr>
            <td><%= area.id %></td>
            <td><%= area.prefecture %></td>
            <td><%= area.district %></td>
          </tr>
        </tbody>
      <% end %>
    </table><br>
  <% end %>
</div>
