<%= render 'layouts/flash_messages' %>

<div class="container" data-turbolinks="false">
  <% if user_signed_in? %>
    <% if current_user.admin?%>
      <div>
        <%= link_to '地域編集画面へ', edit_areas_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <div class="green-box">
    <h1>ゴルフ場検索</h1>
    <% @areas.each do |district, areas| %> <%# 地区 ,県 %>
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-outline-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= district %> <%# 地区 %>
        </button>
        <div class="dropdown-menu">
          <% areas.each do |area| %> <%# 県 %>
            <% if @golfclubs_citys.include?(area.id) %>
              <%= link_to "#{area.prefecture}", area_path(area.id), class: "dropdown-item" %>
            <% else %>
              <%= link_to "#{area.prefecture}", area_path(area.id), class: "dropdown-item  disabled" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @golfclub.present? %>

    <h3 class="text-left">
      <span class="badge badge-brand"><%= Area.find_by(id: @golfclub.area_id).prefecture %></span>
    </h3>

    <div class="card mb-3" style="max-width: 1140px;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <% if @golfclub.photo.attached? %>
            <%= image_tag @golfclub.photo.variant(resize:'350x350') %>
          <% else %>
            <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"/>
              <text x="40%" y="50%" fill="#dee2e6" dy=".3em">No Image</text>
            </svg>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="row">
              <div class="col-md-10">
                <% if StrategyInfo.find_by(golfclub_id: @golfclub.id) && user_signed_in? && current_user.premium? %>
                  <p class="text-left">
                    <%= link_to "#{@golfclub.name}", golfclub_strategy_infos_path(@golfclub.id) %>
                    <% if user_signed_in? %>
                      <%= "　" %>
                      <%= link_to '投稿', golfclub_posts_path(@golfclub), class: "btn btn-sm btn-success" %>
                    <% end %>
                  </p>
                <% else %>
                  <p class="text-left">
                    <%= @golfclub.name %>
                    <% if user_signed_in? %>
                      <%= "　" %>
                      <%= link_to '投稿', golfclub_posts_path(@golfclub), class: "btn btn-sm btn-success" %>
                    <% end %>
                  </p>
                <% end %>
                <div class="row">
                  <% if @golfclub.strategy_video.present? %>
                    <div class="col-10" >
                      <img src="/assets/yt_logo_rgb_light.png" class="img-fluid" style="width: 80px; vertical-align: top;">
                      <%= link_to '攻略動画', "#{@golfclub.strategy_video}", target: "_blank", rel: "noopener noreferrer" %>
                    </div>
                  <% end %>
                </div><br>
                <p><%= link_to "#{@golfclub.home_page_url}", "#{@golfclub.home_page_url}", target: "_blank", rel: "noopener noreferrer" if @golfclub.home_page_url.present? %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <% end %>

</div>