<div class="form-group">
  <%= course.label :name %>
  <%= course.text_field :name, class: "col col-md-12 form-control" %>
  
  <div class="form-group-course-btn">
    <input type="button" id="hole_btn" value="ホール番号切替" class="btn btn-sm btn-brand">
    <%= course.submit submit_name, data: { disable_with: '送信中' }, class: "btn btn-sm btn-primary" %>
  </div>
</div>

<div class="form-group-course col col-md-3 px-0">
  <%= Hole.human_attribute_name :hole_number %>
</div>

<div class="form-group-course col col-md-8  px-0">
  <%= Hole.human_attribute_name :number_of_pars %>
</div>

<%= course.fields_for :holes do |hole_fields| %>
  <div class="form-group-course col col-md-3 pl-0">
    <%= hole_fields.number_field :hole_number,
      id: "hole_number_field_#{hole_fields.index + 1}",
      hole_type: "OUT",
      class: "form-control",
      readonly: true
    %>
  </div>
  
  <div class="form-group-course col-md-8 form-control">
    <% @pars.each do |par| %>
      &emsp;
      <%= hole_fields.label :pars, par %>
      <%= hole_fields.radio_button :number_of_pars, par, value: "ball_blue.jpeg" %>
      <label for=<%= "course_holes_attributes_#{hole_fields.index}_number_of_pars_#{par}" %>>
        <img src="/ball_blue.jpeg" with="20" height="20">
      </label>
    <% end %>
  </div>
<% end %>
