<%= render 'layouts/flash_messages' %>
<div class="container-hole">
  <h1>ホール登録</h1>
  <%# <%= render 'form' %>
  <%= form_with model: @course, url: golfclub_course_holes_path(@golfclub, @course), local: true, method: :patch do |course| %>
    <div class="form-group">
      <%= course.fields_for :holes do |hole| %>
        <%= hole.label :name %>
        <%= render "hole_fields", f: hole %>
        <%# <div class="links"> %>
          <%# <%= link_to_add_association "+ コース追加", course, :holes, class: "link_to_add_association" %>
        <%# </div> %>
      <% end %>
    </div>

    <div class="form-group">
      <%= course.submit submit_name, class: "btn btn-primary", data: { disable_with: '送信中' }, class: "btn btn-primary btn-block" %>
    </div>
  <% end %>

<div>
