<!--
<script type="text/javascript" src="https://js.pay.jp/"></script>
<script type="text/javascript">Payjp.setPublicKey("pk_test_91c2a9b5f4d2d2ba4b24e7b6");</script>
-->

<%= render 'layouts/flash_messages' %>

<div class="container">

  <h2>クレジットカード情報入力</h2>

  <%= form_with model: @card, url: cards_path, local: true, id: "charge-form" do |f| %>

    <span class="charge-errors"></span>

    <%= f.label :card_number, "カード番号"%>
    <%= f.text_field :card_number, class: "card_number_form", id: "card_number", maxlength: "16", placehplder: "カード番号" %><br>

    <%= f.label :cvc, "CVC"%>
    <%= f.number_field :cvc, class: "cvc_form", id: "cvc", maxlength: "3", placehplder: "CVC" %><br>

    <%= f.label :exp_month, "有効期限"%>
    <%= f.number_field :exp_month, class: "exp_month_form", id: "exp_month", maxlength: "2", placehplder: "月" %>
    <%= f.number_field :exp_year, class: "exp_year_form", id: "exp_year", maxlength: "4", placehplder: "年" %><br>

    <%= f.submit "サブスクリプションを購入" , class: 'btn-default', id: "token_submit2" %>
    <!--<div f.fiden_field id="card_token" ></div>-->

  <% end %>

</div>