
= render 'layouts/flash_messages'

.container

  %br
  %h2 支払い方法

  .mypage-main.col-12
    .single-container
      %section.creditcard_section
        %h4 クレジットカード情報
        - @cards.each do |card|
          .container
            - if card.default_card?
              .default-creditcard-info.col-6.offset-3
                %p.creditcard-info__membership_number{ style: "text-align: center; padding-top: 5px; color: red;" }
                  %b
                    = "＜支払いカード＞"
                %p.creditcard-info__company
                = "カード会社："
                - case card.brand
                - when "Visa"
                  = image_tag "creditcards/visa.svg",width:'34',height:'20', alt:'visa-card'
                - when "MasterCard"
                  = image_tag "creditcards/master-card.svg",width:'34',height:'20', alt:'master-card'
                %p
                %p.creditcard-info__number
                  = "カード番号："
                  = "**** **** **** " + card.last4 #クレジットカードの下４桁を表示
                %p.creditcard-info__period
                  = "有効期限：" 
                  - exp_month = card.exp_month.to_s
                  - exp_year = card.exp_year.to_s.slice(2,3) 
                  = exp_month + " / " + exp_year
                  -# = button_to "支払いカードに設定", card_path(card.metadata.card_id), method: :patch, data: {confirm: "カードを支払いカードに設定します"}, class:"btn btn-primary mt-2"
                  = button_to "削除する", card_path(card), method: :delete, data: {confirm: "カードを削除します"}, class:"btn btn-sm btn-danger creditcard-info__delete"
            - else
              .creditcard-info.col-6.offset-3
                %p.creditcard-info__company
                = "カード会社："
                - case card.brand
                - when "Visa"
                  = image_tag "creditcards/visa.svg",width:'34',height:'20', alt:'visa-card'
                - when "MasterCard"
                  = image_tag "creditcards/master-card.svg",width:'34',height:'20', alt:'master-card'
                %p
                %p.creditcard-info__number
                  = "カード番号："
                  = "**** **** **** " + card.last4 #クレジットカードの下４桁を表示
                %p.creditcard-info__period
                  = "有効期限：" 
                  - exp_month = card.exp_month.to_s
                  - exp_year = card.exp_year.to_s.slice(2,3) 
                  = exp_month + " / " + exp_year
                  = button_to "支払いカードに設定", card_path(card), method: :patch, data: {confirm: "カードを支払いカードに設定します"}, class:"btn btn-sm btn-primary mt-2"
                  = button_to "削除する", card_path(card), method: :delete, data: {confirm: "カードを削除します"}, class:"btn btn-sm btn-danger creditcard-info__delete mt-2"
        .new-card.col-6.offset-3.text-center
          = link_to new_card_path, data: {"turbolinks" => false}, class:"new-card-btn btn btn-info" do
            %i.far.fa-credit-card
              クレジットカードを登録する
  %br
