<p id="notice"><%= notice %></p>

<div class="container">

  <%= render 'layouts/flash_messages' %>

  <h1>Cards</h1>

  <table>
    <thead>
      <tr>
        <th>会員名</th>
        <th>カード番号</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @cards.each do |card| %>
        <tr>
          <td><%= User.find(card.user_id).name %>
          <td><%= card.card_id %>
          <td><%= link_to 'Show', card, class: "btn btn-sm btn-warning" %></td>
          <td><%= link_to 'Edit', edit_card_path(card), class: "btn btn-sm btn-info" %></td>
          <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Card', new_card_path, data: {"turbolinks" => false} %>

</div>
