<%= render 'layouts/flash_messages' %>
<h4 class="mt-4"><%= @golfclub.name %>の投稿一覧</h4>

<div class="container" data-turbolinks="false">
  <div>
    <%= link_to '新規投稿', new_golfclub_post_path, remote: true, class: "btn btn-sm btn-primary" %>
  </div><br>
  <ul class="category-box">
    <li class="category-item"><%= link_to "全て", golfclub_posts_path, class: "btn btn-sm btn-outline-brand" %><li>
    <% @categories.each do |category| %>
      <li class="category-item">
        <%= link_to Category.find(category).name, golfclub_posts_path(search: { category_id_eq: Category.find(category) }),
                                                  class: "btn btn-sm btn-outline-brand" %>
      </li>
    <% end %>
    <li class="category-item">
      <%= link_to "自分の投稿", golfclub_posts_path(search: { user_id_eq: current_user.id }),
                              class: "btn btn-sm btn-outline-brand" %>
    <li>
  </ul>
  <section>
    <% @posts.each do |post| %>
      <article class="wrap">
        <figure class="figure-box">
          <% if post.photo.attached? %>
            <%= link_to cdn_ready_blob_path(post.photo), "data-lightbox": "lightbox-group", "data-title": "(#{Category.find(post.category_id).name}) #{post.title}", remote: true do %>
              <%= image_tag cdn_ready_blob_path(post.photo), width: '300px', height: 'auto' %>
            <% end %>
          <% else %>
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"/>
              <text x="40%" y="50%" fill="#dee2e6" dy=".3em">No Image</text>
            </svg>
          <% end %>
        </figure>

        <div class="comment-box">
          <div class="comment-item">
            <span class="post-title">
              <%= post.title %>
            </span><br/>
            <span><%= post.comment %></span>
          </div>

          <ul class="info-box">
            <li class="info-category"><%= Category.find(post.category_id).name %></li>
            <li class="info-edit"><%= current_user_edit_post(post) %></li>
            <li class="info-delete"><%= current_user_destroy_post(post) %></li>
            <li class="info-time">投稿日 : <%= post.created_at.strftime("%Y/%m/%d") %></li>
            <li class="info-user">投稿者 : <%= user_nickname(post) %></li>
          </ul>
        </div>
      </article>
    <% end %>
  </section>
</div>

<div id="new-post" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-post" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
