<%= javascript_include_tag "lightbox" %>
<%= render 'layouts/flash_messages' %>
<h5><%= @golfclub.name %>の投稿一覧</h5>

<div class="container" data-turbolinks="false">
  <%= link_to '新規投稿', new_golfclub_post_path, class: "btn btn-sm btn-primary" %>
  <ul class="category-box">
    <li class="category-item"><%= link_to "全て", golfclub_posts_path, class: "btn btn-sm btn-outline-brand" %><li>
    <% @categories.each do |category| %>
      <li class="category-item">
        <%= link_to Category.find(category).name, golfclub_posts_path(search: { category_id_eq: Category.find(category) }),
                                                  class: "btn btn-sm btn-outline-brand" %>
      </li>
    <% end %>
    <li class="category-item">
      <%= link_to "自分の投稿", golfclub_posts_path(search: { user_id_eq: current_user.id }),
                              class: "btn btn-sm btn-outline-brand" %>
    <li>
  </ul>
  <section>
    <% @posts.each do |post| %>
      <article class="wrap">
        <figure class="figure-box">
          <% if post.photo.attached? %>
            <%= link_to post.photo, "data-lightbox": "lightboc-group", "data-title": post.title, remote: true do %>
              <%= image_tag post.photo.variant(resize:'300x300'), class: "figure-item" %>
            <% end %>
          <% else %>
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"/>
              <text x="40%" y="50%" fill="#dee2e6" dy=".3em">No Image</text>
            </svg>
          <% end %>
          <!--
          <figcaption>
            <%= Golfclub.find(post.golfclub_id).name %>
          </figcaption>
          -->
        </figure>

        <div class="comment-box">
          <div class="comment-item">
            <span class="post-title">
              <%= post.title %>(<%= Golfclub.find(post.golfclub_id).name %>)
            </span><br/>
            <span><%= post.comment %></span>
          </div>

          <ul class="info-box">
            <li class="info-category"><%= Category.find(post.category_id).name %></li>
            <li class="info-edit"><%= current_user_edit_post(post) %></li>
            <li class="info-delete"><%= current_user_destroy_post(post) %></li>
            <li class="info-time">投稿日 : <%= post.created_at.strftime("%Y/%m/%d") %></li>
            <li class="info-user">投稿者 : <%= user_nickname(post) %></li>
          </ul>
        </div>
      </article>
    <% end %>
  </section>
</div>

<script>
  lightbox.option({
    'alwaysShowNavOnTouchDevices': false, //trueにするとスマホでスライドの矢印を常に表示
    'albumLabel': "Image %1 of %2",       //スライドの画像番号のテキストを変更できる
    'disableScrolling': false,            //trueにするとLightboxが開いている時はスクロール禁止
    'fadeDuration': 600,                  //Lightboxのフェードイン、フェードアウトの時間を指定
    'fitImagesInViewport': true,          //trueにするとLightbox画像が画面に収まるように縮小される
    'imageFadeDuration': 600,             //読み込まれてから画像がフェードインするまでの時間を設定
    // 'maxWidth': 900,                      //画像の最大幅を設定
    // 'maxHeight' 900,                      //画像の最大高さを設定
    'positionFromTop': 50,                //Lightboxコンテナの表示領域上からの位置を設定
    'resizeDuration': 700,                //異なるサイズの画像を表示する際のアニメーションの時間を設定
    'showImageNumberLabel': true,         //falseにすると画像番号が非表示になる
    'wrapAround': false,                  //trueにすると最後のスライド画像の後に最初のスライド画像に戻る
  })
</script>