<%= render 'layouts/flash_messages' %>
<h1><%= @user.name %>の投稿一覧(仮)</h1>
<%= link_to '新規投稿', new_user_post_path(current_user) %>

<div class="container">
  <section>
    <% @user.posts.each do |post| %>
      <article class="wrap">
        <figure class="figure-box">
          <% if post.photo.attached? %>
            <%= image_tag post.photo.variant(resize:'300x300') %>
          <% end %>
          <!--
          <figcaption>
            <%= Golfclub.find(post.golfclub_id).name %>
          </figcaption>
          -->
        </figure>

        <div class="comment-box">
          <div class="comment-item" style="border: 1px solid #224444;">
            <span><%= post.title %></span><br/>
            <span><%= post.comment %></span>
          </div>
        </div>
      </article>
    <% end %>
  </section>
</div>

<style>
  .figure-box {
    /* flex: 0 0 50px; */
    /* margin-right: 20px; */
  }

  .wrap {
    display:flex;
    /* margin-left: 2px; */
  }

  .comment-box {
    /* border-radius: 5px;
    margin: 5px 0 20PX 10px;
    padding: 3px 0 0 5px;
    height: 190px; */
    /* margin-bottom: 10px; */
    flex-grow: 1;
  }

  .comment-item {
    border-radius: 5px;
    margin: 5px 0 20PX 10px;
    padding: 3px 0 0 5px;
    height: 150px;
  }

  @media screen and (max-width:768px) {
    .wrap {
      display:block;
      /* margin-left: 0; */
    }

    .comment-box {
      /* margin-left: 0;
      margin-bottom: 10px; */
    }

    .comment-item {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
</style>




<!-- <section>
  <% @user.posts.each do |post| %>
    <article class="post">
      <figure class="image">
        <% if post.photo.attached? %>
          <%= image_tag post.photo.variant(resize:'300x300') %>
        <% end %>
        <figcaption><%= Golfclub.find(post.golfclub_id).name %></figcaption>
      </figure>

      <div class="text">
        <p>
          <span class="post-title"><%= post.title %></span>
        </p>

        <div style="border: 1px solid #6c0;">
          <p><%= post.comment %></p>
        </div>
        <div>aaa</div>
      </div>

    </article>
  <% end %>
</section> -->

<!--
<div class="container">
  <% @user.posts.each do |post| %>
    <div class="card">
      <div class="row no-gutters">
        <div class="col-sm-4">
          <% if post.photo.attached? %>
            <%= image_tag post.photo.variant(resize:'300x300') %>
          <% else %>
            no image
          <% end %>
        </div>

        <div class="col-sm-8 no-gutters">
          <div>
            <span class="post-title"><%= post.title %></span>
          </div>

          <div style="border: 1px solid #6c0;" height="500px">
            <div><%= post.comment %></div>
          </div>
          <div>aaa</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
-->

<!-- <table class="table">
  <% @user.posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.comment %></td>
      <td>
        <% if post.photo.attached? %>
          <%= image_tag post.photo.variant(resize:'100x100') %>
        <% else %>
          画像登録無し
        <% end %>
      </td>
      <td><%= Golfclub.find(post.golfclub_id).name %></td>
      <td><%= Category.find(post.category_id).name %></td>
      <td><%= link_to '編集', edit_user_post_path(@user, post) %></td>
      <td>
        <%= link_to "", user_post_path(@user, post), 
                    class: "fas fa-times-circle",
                    method: :delete,
                    remote: true,
                    data: { confirm: "タイトル: #{post.title} を削除してよろしいですか？",
                            cancel: 'キャンセル',
                            commit: '削除する'
                          }, title: '削除確認' %>
      </td>
    </tr>
  <% end %>
</table> -->

<!-- <style>
  .post-title {
    background:linear-gradient(transparent 70%, #6c0 100%);
  }

  .aaa {
    font-size: 1.066666666666667vw;
    padding: 2.666666666666667vw;
    display: inline-block;
    flex-direction: column;
    width: 50%;
  }

.post {
  display: flex;
  justify-content: flex-start;
  max-width: 1100px;
  width: 100%;
  background-color: #f8f8f8;
  margin-bottom: 2vw;
  text-decoration: none !important;
}
</style> -->
