<header id="header">

  <nav class="navbar navbar-expand-lg navbar-dark bg-brand">
    <%= link_to image_tag("/assets/pps.png", width: 46, height: 46, class:"d-inline-block align-top"), root_path %>
    <span class="d-none d-lg-block">　</span>
    <%= link_to "Par Play Simulation", root_path, class: 'navbar-brand navbar-brand-custom' %>              
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">

        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'ゴルフ場一覧', golfclubs_path, class: 'nav-link' %>
          </li>
        <% end %>

        <% if user_signed_in? && current_user.premium? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ゴルフクラブ情報
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to 'ゴルフクラブ推移表', clubs_chart_user_path(current_user), class: 'dropdown-item' %>
              <%= link_to 'ゴルフクラブ一覧', clubs_path(current_user), class: 'dropdown-item' %>
            </div>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to 'ゴルフ場検索', areas_path, class: 'nav-link' %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if user_signed_in? %>
              <% if current_user.premium? %>
                <%= "✨ " %><%= current_user.nickname %>
              <% else %>
                <%= current_user.nickname %>
              <% end %>
            <% else %>
              アカウント
            <% end %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if !user_signed_in? %>
              <%= link_to "ログイン", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "新規登録", new_user_registration_path, class: "dropdown-item" %>
            <% else %>
              <% if !current_user.admin? %>
                <% if current_user.premium? %>
                  <%= link_to '会員情報', cards_path, class: "dropdown-item" %>
                <% else %>
                  <%= link_to '会員登録', cards_path, class: "dropdown-item",  data: {"turbolinks" => false} %>
                <% end %>
                <%= link_to 'アカウント編集', edit_user_registration_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
              <% end %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>

</header>